<div class="error_page">
  <div class="spacer-50"></div>

  <h1 class="centered">Permission Denied</h1>
  <div class="spacer-20"></div>
  <div class="centered">
  	<img class="" src=<%= image_url('you_shall_not_pass.jpg') %> alt="404 image">
  </div>

  <div class="spacer-20"></div>
</div>  