<div class="spacer-20"></div>

<div>
  <h3 class="centered">Important things to know when you fill out this Living Will</h3>
</div>

<div class="spacer-20"></div>

<div class="main_instructions">
  <p>Your living will is only used if you are unable to tell your doctors what care you would want to receive at the time they need to know your wishes. </p>
  
  <p>With some acute illnesses, you may lose capacity.  In medicine, capacity means the ability to make decisions for yourself. This may be due to the illness itself, such as with a stroke or bad infection. You may also lose capacity because of medications given to while you are hospitalized, like pain medications. In many cases, as you recover you will regain the capacity to make your own decisions again.</p>

  <p>A terminal or end-stage medical condition means a medical condition (like cancer or emphysema) that you will eventually die from even with aggressive medical care.  However, some people with end-stage medical conditions still have a quality of life they find acceptable and may continue to do so for some period of time.</p>

  <p>A persistent vegetative state, or coma, is a condition where you are not aware of your environment and you are not able to interact with anyone around you.</p>

  <p>You don’t always die from your end-stage medical condition.  You may also develop an acute medical condition that can be life threatening.  Examples would include pneumonia, heart attack or blood clots. While these conditions can be life threatening, they can be treated and you may recover from them.  </p>

  <p>However, having an end-stage medical condition makes you less likely to recover, even with aggressive treatment. It also means that your recovery will often be prolonged. You also may not be able to go home when you leave the hospital.  You may need to go to a skilled nursing facility or nursing home first. Even if you recover from your acute illness, you may not ever get back to the quality of life you had before the acute illness.</p>
  
  <div class="centered">
  	<a href="/pages/more_info" class="btn btn-primary btn-large">Next</a>
  </div>

  <div class="spacer-20"></div>
</div>