<div class="main_instructions">
  <p>- Your living will is mainly used if you are unable to tell your doctors what care you want to receive at the time they need to know your wishes.  If you are able to discuss your condition with your doctors and decide what care you want to receive you will simply tell them what your wishes are.</p>
  
  <p>- <strong>For a person to safely decide the care they want to receive they must have Decision-making Capacity</strong>.  This means they must be able to understand the information their health care providers tell them and are able to use this information to make an informed decision about the medical care they want.</p>

  <p>- Many people suffer from conditions that prevent them from having capacity.  This would include conditions like mental illness, dementia, severe learning disabilities and brain damage (strokes, brain trauma, etc.).  These conditions are often times permanent and the person may never be able to make their own health care decisions.</p>

  <p>- Some people may temporarily lose capacity if they become acuity ill, especially if they are sick enough to require hospitalization.  This can be a result of the illness itself.  Examples would be things like severe infections and acute strokes.  Loss of capacity can also result from the treatment for the acute illness, in particular medications.  Often times in these situations the person will regain the capacity to make their own decisions as they recover from the illness.</p>

  <p>- If you are unable to tell your doctors what care you would want to receive they will look to your living will for guidance.  It is important to realize that a written living will can’t possibly prepare for all medical decisions that might have to be made for you.</p>

  <p>- The best plan for making sure you receive the care you would want if you aren’t able to tell your doctors yourself is to pick someone to be your Medical Power of Attorney (MPOA).  An MPOA is the person you have legally designated to make your medical decisions for you if you temporarily or permanently lose capacity. Your MPOA can make any health care decision for you that you would make for yourself.</p>

  <p>- Your MPOA can use your living will to help them decide what care you would want to receive given your medical situation.  But it is important that you talk with your MPOA while you still have capacity and discuss the common decisions that may have to be made near the end of your life.  You can also use this living will to guide these talks with your MPOA.</p>
</div>