<div class="spacer-20"></div>

<div>
  <h3 class="centered">Important things to know when you fill out this Living Will</h3>
</div>

<div class="spacer-20"></div>

<div class="main_instructions">
  <p>- Your living will only applies if you become incapacitated (unable to speak for yourself) and are unable to tell your doctors what care you would want to receive at the time they need to know your wishes. </p>
  
  <p>- With some acute illnesses, you may lose capacity (the ability to make decisions for yourself) because of their medical illness.  At times this is only temporary.  In many cases, as you recover you will regain the capacity to make your own decisions again.</p>

  <p>- A terminal or end-stage medical condition means a medical condition (like cancer or severe lung disease) that you will eventually die from even with aggressive medical care.  However, some people with end-stage medical conditions still have a quality of life they find acceptable and may continue to do so for some period of time.</p>

  <p>- A persistent vegetative state, or coma, is a condition where you are not aware of your environment and you are not able to interact with anyone around you.</p>
  
  <div class="centered">
  	<a href="/pages/more_info" class="btn btn-primary btn-large">Next</a>
  </div>

  <div class="spacer-20"></div>
</div>