<div class="spacer-20"></div>

<div>
  <h3 class="centered">My Living Will</h3>
</div>

<div class="spacer-20"></div>

<div class="main_instructions">
  <p>- The goal of this program is to provide the information you need to make informed decisions when you complete your living will. </p>
  
  <p>- It will first review some important concepts you need to understand when completing your living will. </p>

  <p>- It will then present some common scenarios you may face near the end of your life where you can indicate what level of care you would want to receive.</p>
  
  <div class="centered">
  	<a href="/pages/home" class="btn btn-primary btn-large">Let's Get Started!</a>
  </div>

  <div class="spacer-20"></div>
</div>