<div class="spacer-20"></div>

<div>
  <h3 class="centered">My Living Will</h3>
</div>

<div class="spacer-20"></div>

<div class="main_instructions">
  <p>This program will help you create your living will.  </p>
  
  <p>We will first explain some important things you need to understand when filling out your living will.</p>

  <p>We will then present some common health care situations you may be faced with in the future.  You can indicate what level of care you would want if faced with each situation. </p>
  
  <div class="centered">
  	<a href="/pages/home" class="btn btn-primary btn-large">Let's Get Started!</a>
  </div>

  <div class="spacer-20"></div>
</div>