<div class="spacer-20"></div>

<div>
  <h3 class="centered">Important things to know when you fill out this Living Will</h3>
</div>

<div class="spacer-20"></div>

<div class="main_instructions">

  <p>- It is impossible for this living will to address every medical situation that might happen to you in the future.  It tries to address common scenarios we see patients and families faced with.</p>

  <p>- The best way to prepare for the possibility of you losing capacity is to name someone as your Medical Power of Attorney (MPOA).  This is the person you legally designate to make medical decisions for you if you are unable to do so yourself.  However, for your MPOA to make the best decisions for your care they have to understand your broad wishes as fully as possible.  This means you need to talk with your MPOA about the scenarios below.  We would encourage you to name a MPOA and have them sit with you while you complete this living will.  This can help guide your discussion with them and allow them to ask you any questions they may have.</p>

  <p>If you are hospitalized and aren't able to make decisions for yourself you will require a health care surrogate.  Even if you have a living will.  Your health care team needs someone they can speak with to help make your care plan.  Your surrogate must also agree to any procedures you may need as well as sign the consent forms for those procedures.  Ideally, your surrogate is your MPOA.  If you haven't named a MPOA your doctors will appoint someone to be your surrogate.  This usually goes in the following order:  Spouse, Adult Children, Parents, Adult Siblings.</p>

  <p>Again, the best way to avoid having a surrogate named for you is for you to have an MPOA.  if you haven't completed the MPOA paper work you can still indicate later in this living will who you would want your surrogate to be.</p>
  
  <div class="centered">
  	<a href="/pages/treatments" class="btn btn-primary btn-large">Next</a>
  </div>

  <div class="spacer-20"></div>
</div>