<div class="spacer-20"></div>

<div>
  <h3 class="centered">Important things to know when you fill out this Living Will</h3>
</div>

<div class="spacer-20"></div>

<div class="main_instructions">

  <p>It isn’t possible for this living will to address every medical situation you might face. It tries to address common situations you may face as you age.  It also asks you to provide guidance for the questions your health care providers often ask in these situations. </p>

  <p>It isn’t possible for this living will to address every medical situation you might face. It tries to address common situations you may face as you age.  It also asks you to provide guidance for the questions your health care providers often ask in these situations. </p>

  <p>The best way to ensure your health care wishes are followed should you not have capacity is to name someone as your Medical Power of Attorney (MPOA). This is the person you legally designate to make medical decisions for you if you are unable to do so yourself. Your MPOA can make every decision you would make yourself.</p>

  <p>For your MPOA to make the best decisions for your care they must understand your health care wishes as fully as possible. This means you need to talk with your MPOA about care you would and wouldn’t want to receive. We strongly encourage you to name a MPOA and have them sit with you while you complete this living will. This will allow them to ask you any questions they may come up.</p>

  <p>If you are hospitalized and can’t make decisions for yourself you will need a health care surrogate. Even if you have a living will. Your health care team needs someone they can speak with to help make your care plan. Your surrogate must also agree to any procedures you may need and sign the consent forms for those procedures. </p>

  <p>If you have an MPOA they will be your surrogate. If you haven't named a MPOA your doctors will appoint someone to be your surrogate. This usually goes in the following order: Spouse, Adult Children, Parents, Adult Siblings. If you haven't completed the MPOA paper work you can still indicate later in this living will who you would want your surrogate to be.</p>
  
  <div class="centered">
  	<a href="/pages/treatments" class="btn btn-primary btn-large">Next</a>
  </div>

  <div class="spacer-20"></div>
</div>