<div class="spacer-20"></div>

<div>
  <h3 class="centered">What kind of treatments might be needed to treat an acute illness?</h3>
</div>

<div class="spacer-20"></div>

<div class="main_instructions">

  <p>- You don’t always die from your end-stage medical condition.  You may also develop an acute medical condition that can be life threatening.  Examples would include pneumonia, heart attack or blood clots. While these conditions can be life threatening they are at times treatable and you may recover from them.  </p>

  <p>- However, having an end-stage medical condition not only makes you more likely to develop a complication like pneumonia, it makes you less likely to recover, even with aggressive treatment.  It also means that your recovery will often be prolonged, requiring you to go to a skilled nursing facility or rehabilitation center. Even if you recover from your acute illness, you may not ever get back to the quality of life you had before the acute illness.</p>

  <p>- It is impossible for this living will to address every medical situation that might happen to you in the future.  It tries to address common scenarios we see patients and families faced with.</p>

  <p>- The best way to prepare for the possibility of you losing the ability to make medical decisions for yourself is to designate a Medical Power of Attorney (MPOA).  This is who you legally designate as the person to make medical decisions for you if you are unable to do so yourself.  However, for your MPOA to make the best decisions for your care they have to understand your broad wishes as fully as possible.  This means you need to talk with your MPOA about the scenarios below.  We would encourage you to name a MPOA and have them sit with you while you complete this living will.  This can help guide your discussion with them and allow them to ask you any questions they may have.</p>
  
  <div class="centered">
  	<a href="/users/new" class="btn btn-primary btn-large">Next</a>
  </div>

  <div class="spacer-20"></div>
</div>