<div class="spacer-20"></div>

<div>
  <h3 class="centered">What kind of treatments might be needed to treat an acute illness?</h3>
</div>

<div class="spacer-20"></div>

<div class="main_instructions">

  <p>- <strong>Regular Medical Care</strong>-  This type of care could include routine tests like blood work and x-ray studies.  It could include medications, intravenous fluids, nutrition, blood transfusions and physical therapy. </p>

  <p>- <strong>Advanced Life Support</strong>-  You typically have to be in an intensive care unit to receive these therapies.  This would include respirators, dialysis machines and medications for treating shock. Invasive care.  This would include invasive procedures performed like surgery and heart catheterizations. </p>

  <p>- <strong>Invasive Care</strong>-  This would include invasive procedures performed like surgery and heart catheterizations.</p>

  <p>- <strong>Advanced Cardiac Life Support</strong>-  This would include invasive procedures performed like surgery and heart catheterizations.</p>

  <p>- <strong>Tracheostomy and Feeding Tubes</strong>-  This is what is done when you have a cardiac arrest.  This included CPR, shocking the heart, putting a breathing tube in and giving you medication, all with the hope of getting your heart beating again. </p>

  <p>- <strong>Comfort Care</strong>-  This means you will only be given medications that can ease your suffering and keep you comfortable.  All other medications, labs and other tests are stopped.</p>
  
  <div class="centered">
  	<a href="/first_scenarios/new" class="btn btn-primary btn-large">Next</a>
  </div>

  <div class="spacer-20"></div>
</div>